@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');

/* VARIABLES*/
:root {
    --color-pink: rgb(200, 29, 216);
    --color-darkBlue: rgb(0, 50, 98);
    --color-lessDarkBlue: rgb(23, 94, 161);
    --color-blue: rgb(70, 133, 216);
    --color-grey: rgb(144, 144, 144);
    --color-red: rgb(241, 78, 78);
    --color-darkGrey: rgb(37, 37, 37);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    min-height: 100vh;
}

.logo-uner {
    width: 6rem;
}

.table {
    border-color: var(--color-blue);
}

.table thead tr th{
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%) !important;
}

.table , thead{
    text-align: center !important;
}

a.nav-link{
    vertical-align: bottom !important;
}

.checkbox-group, .checkbox-multiple{
    text-align: center;
}

.checkbox-group input, .checkbox-multiple input{
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.checkbox-group label, .checkbox-multiple label{
    position: relative;
    cursor: pointer;
}

.checkbox-group label:before, .checkbox-multiple label:before{
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.checkbox-group input:checked+label:after, .checkbox-multiple input:checked+label:after{
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-multiple label:before{
    background-color: white;
    border-color: black;
}

.checkbox-multiple input:checked+label:after{
    border-color: black;
}

.title-contacto{
    border-bottom-style: double !important;
}

.ol-contacto img{
    height: 2rem !important;
}

.ol-contacto p{
    margin-bottom: 0;
}

hr.vertical {
    height: 70vh;
    width: 0;
    border: 0.2rem dashed var(--color-darkGrey);
    margin: 50% 50%;
    opacity: 1;
}

.fw-bold{
    color: var(--color-darkBlue);
}

.title-img{
    font-size: 3.5rem !important;
    font-weight: bold;
    color: var(--color-grey);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.bg-img {
    position: relative;
    overflow: hidden;
    padding: 140px 20px;
    z-index: 2;
}

.bg-img:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212121;
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: inherit;
    background-position: center center;
    opacity: 0.65;
    filter: alpha(opacity=65);
    z-index: -1;
}

.title-uner{
    font-weight: bold;
    color: var(--color-darkBlue);
    text-decoration: underline;
    text-decoration-color: var(--color-blue);
    text-decoration-style: double;
}

.info-content {
    color: var(--color-grey);
    line-height: 36px;
    font-weight: 300;
    font-size: 1.5rem;
}

.text-uner {
    color: var(--color-grey);
    font-weight: 300;
}

.text-map {
    color: var(--color-lessDarkBlue);
    font-weight: 400;
}

.img-item-carousel{
    height: 22rem;
}

.img-item-carousel h3{
    text-shadow: 4px 3px 3px rgba(0,0,0,0.7);
}

.img-item-carousel p{
    display: table;
    margin: auto;
    background-color: #212121;
}

.item-img3{
    position: absolute;
    top: -19rem;
}

.ubi-uner{
margin-top: 15rem !important;
}

.map-contacto{
    width: 100%;
    height: 15rem;
}

.novedades{
    background-color: var(--color-lessDarkBlue);
    text-align: left;
    color: white;
    vertical-align: middle;
}
.novedades p{
text-align: left;
font-size: 1.5rem;
 color: #ffffff; 
 vertical-align: middle; 
}

.novedades:first-child{
    /* color: #ffffff;  */
    padding: 1rem;
}

.img-novedades{
    float: left;
}

@media (max-width: 800px) {
    .ubi-uner{
        margin-top: 2rem !important;
    }
    .margin{
        margin-top:2rem !important
    }
    .marginTotal{
        margin-top: 2rem !important; 
        margin-bottom: 1rem !important;
    }
    .item-img3{
        top: -7rem;
    }
    .img-item-carousel{
        height: 13rem;
    }

}